
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html, body {
    background-color: #F4F6F6;
    height: 100%;
}

.my-background {
    height: 90px;
    background-color: #0073A1;
    margin-bottom: 20px;
}

.container {
    width: 1360px;
    margin: 0 auto;
}

.my-headline {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    padding: 15px;
    color: #555555;
    border-bottom: 1px solid #000000;
    margin-bottom: 60px;
}

.my-title {
    padding: 20px 40px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.title-content, .title-content-blue {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.title-content-blue {
    font-weight: 700;
    color: #003471;
}

.my-content {
    padding: 28px 40px;
    margin-top: 2px;
    margin-bottom: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.content-date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #0073A1;
    margin-bottom: 28px;
}

.content-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #555555;
}

.my-button {
    margin-top: 55px;
    margin-bottom: 225px;
    border: none;
    width: 230px;
    height: 60px;
    background: #0073A1;
    border-radius: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}